body {
    background-image: url(images/945731-3840x2160-desktop-4k-matte-black-wallpaper-image.jpg);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    display: flex;
    align-items: center;      
    justify-content: center;   
    gap: 2%;                
    color: white;
}

#header-icon {
    width: 40px;   
    height: 40px;
    border-radius: 25%;
}

@keyframes myanimation {
    from {background-color: #1f1f1f;}
    to {background-color: #7a0505;}
}


.sheet1 {
    text-align: center;
    color: #c2c2c2;
    margin: 2% 15%;
    padding: 1%;
    background-color: #1f1f1f;
    border-radius: 3%;
}

.articles {
    text-align: left;
    margin: 10px 10px 15px 15px;
}

#article-headers {
    font-size:x-large;
}
 
#author-date {
    font-size: smaller;
}

#article-previews {
    text-align: justify;
    hyphens: auto;
}

#links:link, #links:visited {
    color: grey;
    background-color: #1f1f1f;
    padding: 0.5%;
}

#links:hover {
    animation-name: myanimation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    padding: 0.7%;
}

