body {
    background-image: url(../images/945731-3840x2160-desktop-4k-matte-black-wallpaper-image.jpg);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sheet1 {
    text-align: center;
    color: #c2c2c2;
    margin: 2% 15%;
    padding: 5%;
    background-color: #0f0f0f;
    border-radius: 4%;
}

.sheet1 h1 {

}

.sheet1 p {
    text-indent: 5%;
    line-height: 25px;
    text-align: justify;
    hyphens: auto;
}

#author {
    text-align: left;
    text-indent: 0%;
    font-size: larger;
}
